/* googel fonts */

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* shared styles */
.display-flex {
    display: flex;
}
.primary-bg{
    background-color: rgba(255, 144, 14, 0.1);
}
/* primary-color */
.primary-color {
    color: #FF900E;
}
/* dark02 */
.gray-color {
    color: #424242;
}
/* dark03 */
.description {
    color: #727272;
}
.parimary-btn {
    padding: 20px 24px;
    background-color: #FF900E;
    color: #fff;
    font-size: 1.25rem;
    border-radius: 8px;
    border: none;
}
main > section {
max-width: 1440px;
margin: 70px auto;
}



/* navbar */
.brand {
    font-size: 3rem;
    font-weight: 700;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0px auto;
}
.navbar {
    justify-content: space-between;
    align-items: center;
}
.nav-links {

}
.nav-items {
    list-style: none;
}
.nav-item {
    margin-right: 30px;
}
.nav-links {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
/* banner */
.banner-container {
    max-width: 860px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
}
.banner img {
    width: 100%;
}
/* featurs styles */
.team-container {
    align-items: center;
}
.team-images {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.features-content {
    margin-left: 75px;
    max-width: 540px;
}
.features-tittle {
    font-size: 45px;
    font-style: 500;
}



/* resposnive */
@media screen and (max-width: 576px){
    .display-flex {
        flex-direction: column;
    }
    .team-images {
        grid-template-columns: repeat(1,1fr);
    }
    .features-content {
        margin-left: 100px;
    }
}